Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [ ]:
import pandas as pd
import numpy as np

orders = pd.read_csv("/orders.csv")
orders

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016/11/19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016/08/02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017/03/09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016/10/04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016/12/16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [ ]:
# 1 Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
orders['order_date']

0        2016/09/04
1        2014/11/14
2        2017/02/26
3        2013/12/01
4        2015/10/22
            ...
26547    2016/11/19
26548    2016/08/02
26549    2017/03/09
26550    2016/10/04
26551    2016/12/16
Name: order_date, Length: 26552, dtype: object

In [ ]:
orders['order_date'] = pd.to_datetime(orders['order_date'])
orders['order_date']

0       2016-09-04
1       2014-11-14
2       2017-02-26
3       2013-12-01
4       2015-10-22
           ...
26547   2016-11-19
26548   2016-08-02
26549   2017-03-09
26550   2016-10-04
26551   2016-12-16
Name: order_date, Length: 26552, dtype: datetime64[ns]

In [ ]:
# 2 Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
orders['tshirt_category'].nunique()
orders['tshirt_category'].unique()

print(str(orders['tshirt_category'].nunique()) + ' ||| ' + str(orders['tshirt_category'].unique()))

10 ||| ['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']

In [ ]:
# 3 Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;

orders['tshirt_category'].unique()
orders['tshirt_category'] = orders['tshirt_category'].apply(
    lambda x: x
    .replace('Tshirt ', 'T-Shirt ')
    .replace('Wh ', 'White ')
    .replace('Bl ', 'Black ')
  )

orders['tshirt_category'].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Black T-Shirt F', 'Hoodie',
       'Black T-Shirt M', 'Tennis Shirt'], dtype=object)

In [ ]:
# 4 Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply. dodanie dodatkowych danych do wartości, których nie da się rozdzielic na 3 (Hoodie, Tennis Shirt)
orders['tshirt_category'] = orders['tshirt_category'].apply(
    lambda x: x
    .replace('Hoodie', 'Default Hoodie U')
    .replace('Tennis Shirt', 'Default Tennis Shirt U') 
  )

orders['tshirt_type'] = orders['tshirt_category'].apply(
    lambda x: ' ' .join(x
    .split(' ')[1:-1] 
    )
  )

orders['tshirt_size'] = orders['tshirt_category'].apply(
    lambda x: x
    .split(' ')[-1]
  )

orders['tshirt_colour'] = orders['tshirt_category'].apply(
    lambda x: x
    .split(' ')[0]
  )

orders['tshirt_category'].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Black T-Shirt F',
       'Default Default Hoodie U U', 'Black T-Shirt M',
       'Default Default Tennis Shirt U U'], dtype=object)

In [ ]:
orders['tshirt_type'].unique()

array(['T-Shirt', 'Hoodie', 'Tennis Shirt'], dtype=object)

In [ ]:
orders['tshirt_size'].unique()

array(['M', 'F', 'U'], dtype=object)

In [ ]:
orders['tshirt_colour'].unique()

array(['White', 'Black', 'Default'], dtype=object)

In [ ]:
# 5 Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.
orders[(ex1_data_csv['order_date'] > '2014-12-31') & (orders['order_date'] <= '2016-08-02')]

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,T-Shirt,M,White
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,T-Shirt,M,White
5,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,T-Shirt,F,Black
6,2014-11-25,6,HTS-479441-0001,479441,Default Default Hoodie U U,23.0,19,Default Hoodie U,U,Default
7,2014-11-01,10,HTS-352809-0001,352809,Black T-Shirt M,19.0,2,T-Shirt,M,Black
...,...,...,...,...,...,...,...,...,...,...
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,Black T-Shirt F,17.5,1,T-Shirt,F,Black
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,White T-Shirt F,18.0,1,T-Shirt,F,White
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,Default Default Hoodie U U,23.0,1,Default Hoodie U,U,Default
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,White T-Shirt M,20.0,4,T-Shirt,M,White
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,T-Shirt,M,White

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [ ]:
import pandas as pd
import numpy as np

customers = pd.read_csv("/customers.csv")
customers

,customerID,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
...,...,...,...,...,...,...
18761,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

In [ ]:
# 1. Wypisz kolumny;
customers.columns

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [ ]:
# 2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
print('z1: ', orders.size, 'z2: ', customers.size )

z1:  265520 z2:  112596

In [ ]:
# 3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
customers.rename(columns = {"customerID": "customer_id"}, inplace = True)
customers.columns

Index(['customer_id', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [23]:
# 4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

merg = orders.merge(customers, how = 'outer', on = 'customer_id')

# Korzystam z metody pandas.DataFrame.merge() z parametrem outer aby otrzymać wszystkie dane z obydwu ramek. Brakujące dane będą widoczne jako NaN. 

merg

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9.0,HTS-038040-0002,038040,White T-Shirt M,20.0,1.0,T-Shirt,M,White,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13.0,HTS-038040-0001,038040,White T-Shirt F,18.0,1.0,T-Shirt,F,White,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11.0,HTS-801797-0001,801797,White T-Shirt M,20.0,1.0,T-Shirt,M,White,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12.0,HTS-801797-0002,801797,White T-Shirt M,20.0,2.0,T-Shirt,M,White,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10.0,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3.0,T-Shirt,F,White,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34783,NaT,NaN,NaN,985046,NaN,NaN,NaN,NaN,NaN,NaN,F,1993/8/26,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,119.137.99.170,False
34784,NaT,NaN,NaN,581146,NaN,NaN,NaN,NaN,NaN,NaN,M,1965/5/5,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,80.162.141.198,False
34785,NaT,NaN,NaN,430463,NaN,NaN,NaN,NaN,NaN,NaN,F,1957/9/8,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,95.183.162.104,False
34786,NaT,NaN,NaN,744375,NaN,NaN,NaN,NaN,NaN,NaN,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
34787,NaT,NaN,NaN,930049,NaN,NaN,NaN,NaN,NaN,NaN,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [24]:
merg.to_csv('cw3.csv', index=False)